
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
  font-display: optional;
  font-family: Netflix Sans;
  font-weight: 100;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff2) format("woff2"),
    url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff) format("woff")
}

@font-face {
  font-display: optional;
  font-family: Netflix Sans;
  font-weight: 300;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff2) format("woff2"),
    url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff) format("woff")
}

@font-face {
  font-display: optional;
  font-family: Netflix Sans;
  font-weight: 400;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2) format("woff2"),
    url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff) format("woff")
}

@font-face {
  font-display: optional;
  font-family: Netflix Sans;
  font-weight: 500;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff2) format("woff2"),
    url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff) format("woff")
}

@font-face {
  font-display: optional;
  font-family: Netflix Sans;
  font-weight: 700;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff2) format("woff2"),
    url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff) format("woff")
}

@font-face {
  font-display: optional;
  font-family: Netflix Sans;
  font-weight: 900;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff2) format("woff2"),
    url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff) format("woff")
}

.PedroFlix_sans_font_loaded {
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
  color: #FFF;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

@media (max-width: 1920px) {
  .master_header {
    height: 0;
    position: relative;
  }

  .main_header {
    padding: 0 22.125rem;
    max-width: 120rem;
    height: 7.5rem;
    margin: 0 auto -7.5rem auto;
    position: relative;
    z-index: 2;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8000) 0.000%, rgba(0, 0, 0, 0.7889) 8.333%, rgba(0, 0, 0, 0.7556) 16.67%, rgba(0, 0, 0, 0.7000) 25.00%, rgba(0, 0, 0, 0.6222) 33.33%, rgba(0, 0, 0, 0.5222) 41.67%, rgba(0, 0, 0, 0.4000) 50.00%, rgba(0, 0, 0, 0.2778) 58.33%, rgba(0, 0, 0, 0.1778) 66.67%, rgba(0, 0, 0, 0.1000) 75.00%, rgba(0, 0, 0, 0.04444) 83.33%, rgba(0, 0, 0, 0.01111) 91.67%, rgba(0, 0, 0, 0.000) 100.0%);
  }

  .header {
    display: inline-flex;
    height: 88px;
    width: calc(100% + 16px);
    justify-content: space-between;
    align-items: center;
  }

  .header_logo {
    width: auto;
    flex: 0 0 calc(33.333333333333336% - 16px);
    margin-left: 16px;
  }
  .header_logo_title {
    font-family: Bebas Neue;
    font-size: 60px;
    color: #E50914;
  }

  .header_buttons_content {
    box-sizing: border-box;
    width: 100%;
    display: inherit;
    height: auto;
    font-weight: 400;
    font-size: 1rem;
    margin-right: 16px;
  }

  .header_language {
    display: flex;
    position: relative;
  }

  .header_language>svg {
    position: absolute;
    pointer-events: none;
    top: 7px;
    left: 10px;
    z-index: 1;
  }

  .main_header_language {
    display: flex;
  }

  .header_language {
    min-width: auto;
    min-height: 32px;
    color: inherit;
    filter: opacity(100%);
    background: rgba(22, 22, 22, 0.7);
    border-color: rgba(128, 128, 128, 0.7);
    border-radius: 4px;
    border: 1px solid rgba(128, 128, 128, 0.7);
    font-size: inherit;
    letter-spacing: normal;
    text-decoration: inherit;
    text-transform: inherit;
    box-sizing: border-box;
    font: inherit;
    appearance: none;
    fill-rule: evenodd;
    position: relative;
  }

  .header_language>select {
    background-color: transparent;
    color: #FFF;
    appearance: none;
    font-family: inherit;
    padding: 4px 36px;
    font-size: 16px;
    z-index: 1;
  }

  .header_icon {
    position: absolute;
    top: 8px;
    left: 120px;
  }

  .background {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-height: 986px;
    min-height: 900px;
  }

  .background_shadow {
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.8500) 8.000%, rgba(0, 0, 0, 0.8465) 15.67%, rgba(0, 0, 0, 0.8361) 23.33%, rgba(0, 0, 0, 0.8187) 31.00%, rgba(0, 0, 0, 0.7944) 38.67%, rgba(0, 0, 0, 0.7632) 46.33%, rgba(0, 0, 0, 0.7250) 54.00%, rgba(0, 0, 0, 0.6868) 61.67%, rgba(0, 0, 0, 0.6556) 69.33%, rgba(0, 0, 0, 0.6312) 77.00%, rgba(0, 0, 0, 0.6139) 84.67%, rgba(0, 0, 0, 0.6035) 92.33%, rgba(0, 0, 0, 0.6000) 100.0%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-height: 988px;
    min-height: 900px;
  }

  .background_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    max-height: 986px;
    min-height: 900px;
  }

  .header_login {
    margin-left: 12px;
    font: inherit;
    display: flex;
    align-items: center;
    min-height: 24px;
  }

  .header_login_text {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 7px 16px;
    font-size: 0.875rem;
    font-weight: 500;
    background: rgb(229, 9, 20);
    border-radius: 4px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
  }

  .header_login_text:hover {
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    background-color: rgb(193, 17, 25);
    border-radius: 4px;
    max-height: 22px;
  }

  .master_register {
    margin: auto;
    position: absolute;
    z-index: 1;
    color: white;
    top: 35%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 664px;
  }

  .main_register {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .register_title {
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
  }

  .register_text {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 16px 0;
  }

  .form {
    max-width: 664px;
    width: 100%;
  }

  .master_form {
    margin-top: 12px;
    width: 100%;
  }

  .main_form {
    display: flex;
  }

  .main_form_input {
    position: relative;
    flex: 1 1 auto;
    width: 100%
  }

  .form_title {
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 16px;
  }

  .form_label {
    position: absolute;
    z-index: 1;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.5;
    transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
    transition-duration: 250ms;
    top: 16px;
    left: 16px;
    pointer-events: none;
  }

  .form_label_active {
    position: absolute;
    z-index: 1;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.5;
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    transition-duration: 250ms;
    top: 10px;
    left: 16px;
    font-family: inherit;
    pointer-events: none;
  }

  .form_validate_active {
    font-size: 0.8125rem;
    color: rgb(235, 57, 66);
    margin-top: 4px;
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .form_validate {
    display: none;
  }

  .form_input:focus,
  .form_email_false:focus,
  .form_email_true:focus {
    outline: 2px solid #FFF;
    border-radius: 4px;
    outline-offset: 2px;
  }

  .form_email_true_text {
    display: none;
  }

  .form_email_true {
    border: 1px solid rgb(43, 184, 113);
  }

  .form_email_false {
    border: 1px solid rgb(235, 57, 66);
  }

  .form_input {
    border: 1px solid rgba(128, 128, 128, 0.7);
  }

  .form_email_false_text {
    display: flex;
    align-items: center;
    margin-top: 4px;
    color: rgb(235, 57, 66);
    gap: 4px;
    align-items: center;
    color: rgb(235, 57, 66);
    font-size: 0.8125rem;
  }

  .form_input::placeholder {
    color: #adadad;
  }

  .form_email_false,
  .form_email_true,
  .form_input {
    width: 91%;
    display: flex;
    background-color: rgba(22, 22, 22, 0.7);
    border-radius: 4px;
    padding: 26px 16px 8px;
    color: inherit;
    outline-color: #FFFFFF;
    line-height: 1.8;
    font: inherit;
  }

  .form_button_icon {
    min-width: 32px;
    max-height: 24px;
  }

  .form_button_icon path {
    fill: currentColor;
  }

  .form_button {
    display: flex;
    align-items: center;
    border-radius: 4px;
    background-color: rgb(229, 9, 20);
    color: inherit;
    font-size: 24px;
    font-weight: 500;
    min-height: 56px;
    padding: 12px 24px;
    font-family: inherit;
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
    white-space: nowrap;
  }

  .form_button:hover {
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    background: rgb(193, 17, 25);
  }

  .main_curve {
    position: relative;
    height: 100px;
    z-index: 1;
    width: 100%;
  }

  .curve {
    position: absolute;
    width: 100%;
    top: -100px;
  }

  .curve_container {
    width: 120%;
    left: -10%;
    background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    height: 100px;
    margin: auto;
    top: 0;
    display: flex;
    align-items: center;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    border: solid .25rem transparent;
    background-clip: padding-box;
  }

  .curve_container::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin-top: -.25rem;
    border-radius: inherit;
    background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);
  }
  .card_one,
  .card_two,
  .card_three,
  .card_four {
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 72px;
    border-bottom: 8px solid rgb(35, 35, 35);
  }

  .card_info {
    text-align: left;
    padding-right: 0.375rem;
    max-width: 580px;
    margin-top: 130px;
  }

  .card_title {
    font-size: 3rem;
    font-weight: 900;
  }

  .card_text {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 16px;
  }

  .card_one_moldure {
    position: relative;
  }

  .card_one_image,
  .card_two_image {
    position: relative;
    z-index: 1;
  }

  .card_one_video {
    position: absolute;
    top: 20%;
    left: 13.5%;
  }
  .card_one_mp4 {
    width: 508px;
  }
  .card_two,
  .card_three,
  .card_four {
    padding: 72px 0;
  }

  .card_two_content {
    position: relative;
  }

  .card_two_video {
    position: absolute;
    top: 50px;
    left: 116px;
  }

  .card_two_video video {
    max-width: 78%;
  }

  .card_three_info {
    text-align: left;
    padding-right: 0.375rem;
    max-width: 580px;
    margin-top: 146px;
  }

  .card_four_image {
    position: relative;
  }

  .card_four_medium_image {
    width: 100%;
  }

  .card_four_content {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(128, 128, 128, 0.7);
    box-shadow: 0 0 2em 0 rgb(0, 0, 0);
    border-radius: 0.75rem;
    width: 314px;
    height: 104px;
    position: absolute;
    left: 25%;
    bottom: 8%;
    background-color: #000;
  }

  .card_four_gif {
    background-size: 100% !important;
    width: 48px;
    height: 48px;
    background: url('https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif') center center no-repeat;
  }

  .card_four_small_image {
    width: 58px;
    height: 80px;
    margin-right: 16px;
  }

  .card_four_gif_info {
    max-width: 170px;
  }

  .card_four_gif_title {
    font-size: 16px;
    font-weight: 500;
  }

  .card_four_gif_text {
    font-size: 14px;
    font-weight: 400;
    color: #0071eb;
  }

  .card_four_info {
    margin-top: 148px;
  }

  .master_questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 72px 0px;
    border-bottom: 8px solid rgb(35, 35, 35);
  }

  .questions {
    max-width: 1172px;
  }

  .desactive_info {
    visibility: collapse;
    transition: all 0.25s cubic-bezier(0.5, 0, 0.1, 1);
    text-align: left;
    background-color: rgb(45, 45, 45);
    max-height: 0;
    overflow: hidden;
  }

  .active_info {
    max-height: 75rem;
    background-color: rgb(45, 45, 45);
    border-top: 1px solid #000;
    visibility: visible;
    transition: all 0.25s cubic-bezier(0.5, 0, 0.1, 1) 0s;
    padding: 24px;
  }

  .questions_title {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 24px;
  }

  .questions_li {
    text-decoration: none;
    list-style: none;
    font-family: inherit;
    margin-bottom: 8px;
    font-size: 24px;
  }

  .questions_button,
  .questions_subtitle {
    text-decoration: none;
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    background-color: rgb(45, 45, 45);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
    width: 100%;
    text-align: start;
    padding: 24px;
    cursor: pointer;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .active_icon {
    transform: rotate(-45deg);
    height: 36px;
    width: 36px;
  }
  .desactive_icon {
    height: 36px;
    width: 36px;
  }

  .footer {
    margin: auto;
    padding: 72px 0;
    max-width: 1268px;
    padding-left: 92px;
  }

  .footer_info {
    display: inline-flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .footer_info>li {
    flex: 0 0 calc(25% - 0.75rem);
    list-style: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-weight: 400;
    margin-top: 16px;
  }

  .footer_title {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    font-weight: 400;
  }

  .footer_link {
    text-decoration: none;
    background: none;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: underline;
  }

  .footer_name {
    color: rgba(255, 255, 255, 0.7);
    margin-top: 24px;
    font-size: 14px;
    font-weight: 400;
  }
  .active_icon_mobile,
  .desactive_icon_mobile {
    display: none;
  }
  .section {
    background-color: #000;
  }
}

@media (max-width:1280px) {
  .header_logo_title {
    font-size: 38px;
  }
  .active_icon, 
  .desactive_icon {
    display: none;
  }
  .master_register {
    max-width: 508px;
  }
  .register_title,
  .card_title {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
  }
  .card_text {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
  }
  .register_text {
    font-size: 1rem;
    font-weight: 400;
  }
  .form_button {
    font-size: 1.125rem;
    margin-left: 10px;
  }
  .main_header {
    padding: 0 5rem;
  }
  .card_one,
  .card_three {
    flex-direction: column;
    align-items: center;
  }
  .card_two,
  .card_four {
    flex-direction: column-reverse;
    align-items: center;
  }
  .master_questions {
    padding: 72px 20px;
  }
  ._header_language > select {
    width: auto;
  }
  .footer_info > li {
    flex: 0 0 50%
  }
  .active_icon_mobile,
  .desactive_icon_mobile {
    display: block;
    width: 24px;
    height: 24px;
  }
  .active_icon_mobile {
    transform: rotate(45deg);
  }
  .card_one {
    margin-top: -100px;
  }
  .main_register {
    padding: 0px 10px;
  }
}
@media (max-width: 600px) {
  .main_header {
    padding: 0 10px;
  }
  .card_title,
  .register_title,
  .questions_title {
    font-size: 2rem;
    font-weight: 700;
  }
  .master_register {
    max-width: 432px;
  }
  .main_form {
    gap: 10px;
    flex-direction: column;
    align-items: center;
  }
  .questions_li,
  .questions_button {
    font-size: 1.125rem;
    font-weight: 400;
  }
  .form_button {
    min-height: 48px;
    padding: 8px 16px;
  }
  .master_form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main_form_input {
    max-width: 432px;
    width: 100%;
  }
  .main_form {
    width: 100%;
  }
  .footer_info {
    flex-direction: column;
  }
  .form {
    padding: 0 10px;
  }
  .active_icon {
    transform: rotate(-45deg);
    height: 24px;
    width: 24px;
  }
  .desactive_icon {
    height: 24px;
    width: 24px;
  }
  .header_language > select {
    width: 72px;
  }
  .header_icon {
    top: 7px;
    left: 40px;
  }
  .questions_subtitle {
    font-size: 1.125rem;
    font-weight: 400;
    padding: 0;
    margin-right: 4px;
  }
  .questions_title {
    font-size: 1.125rem;
    font-weight: 500;
  }
  .footer {
    padding: 0px 1.5rem 6rem 1.5rem;
  }
  .form_input {
    width: 90%;
  }
  .curve_container {
    width: 200%;
    left: -50%;
    margin-top: 70px;
  }
  .header_logo {
    margin-left: 0px;
    margin-right: 6px;
  }
  .card_one_image,
  .card_two_image,
  .card_three_image {
    width: 300px;
  }
  .card_one,
  .card_two,
  .card_three,
  .card_four {
    padding: 12px 0;
  }
  .card_one_video > video{
    width: 220px;
  }
  .card_two_video {
    top: 24px;
    left: 50px;
  }
  .card_two_video > video {
    width: 74%;
  }
  .card_four_medium_image {
    width: 480px;
  }
  .card_four_small_image {
    margin-left: 12px;
  }
  .card_four_content {
    width: 50%
  }
  .card_one_mp4 {
    width: 220px;
  }
}
