@import "https://www.nerdfonts.com/assets/css/webfont.css";

* {
    font-family: Netflix Sans;
}
.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
    align-items: center;
}
.headerTitle {
    font-family: Bebas Neue;
    font-size: 60px;
    color: #E50914;
    margin-left: 3%;
    cursor: pointer;
}
.headerButton {
    appearance: none;
    background-color: transparent;
    font-family: Netflix Sans;
    color: #333;
    float: right;
    font-size: 19px;
    font-weight: 500;
    line-height: 90px;
    margin: 0 3%;
    cursor: pointer;
}
.headerButton:hover {
    text-decoration: underline;
}
.registerAccount {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 170px;
}
.devices {
    background: url("../assets/Devices.png") no-repeat 50% 50%;
    margin: 100px 0 20px;
    width: 260px;
    background-size: 260px;
    height: 90px;
}
.step,
.step > strong {
    font-size: 13px;
    text-align: center;
    color: #333;
}
.stepTitle {
    font-size: 32px;
    color: #333;
    max-width: 340px;
    text-align: center;
    font-weight: 500;
    margin: 0 0 .4em;
}
.stepDescription {
    font-size: 18px;
    color: #333;
    max-width: 340px;
    text-align: center;
    font-weight: 400;
    
}
.stepButton {
    padding: 18px 124px;
    background-color: #e50914;
    border-radius: 4px;
    font-size: 24px;
    font-weight: 400;
    font-family: Netflix Sans;
    color: #FFF;
    margin-top: 24px;
}
.footer {
    border-top: 1px solid #e6e6e6;
    background-color: #f3f3f3;
    padding: 20px 0 30px;
    
}
.footerContent {
    width: 90%;
    margin: 0 auto;
    position: relative;
}
.footerTitle {
    font-size: 1em;
    color: #737373;
    margin: 0 0 30px;
    font-family: Netflix Sans;
}
.footerLink {
    font-size: 13px;
    max-width: 1000px;
    color: #737373;
}
.footerLinkItem {
    list-style: none;
    display: inline-block;
    margin-bottom: 16px;
    padding: 0 22px 0 0;
    width: 22%;
}
.footerSelect {
    color: #737373;
    background-color: #FFF;
    appearance: none;
    border: 1px solid #a6a6a6;
    border-radius: 2px;
    font-size: 16px;
    font-family: Netflix Sans;
    height: 46px;
    padding: 10px 32px 12px 40px;
}
.footerMainSelect::before {
    color: #444;
    font-size: 16px;
    top: 128px;
    left: 14px;
    pointer-events: none;
    position: absolute;
}
.footerMainSelect::after {
    background-color: #fff;
    border: 6px solid #fff;
    border-top-color: rgb(255, 255, 255);
    border-top-color: #333;
    content: "";
    position: absolute;
    top: 134px;
    left: 128px;
}