
.master_register {
    margin: auto;
    position: absolute;
    z-index: 1;
    color: white;
    top: 23%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: calc( 66.66666666666666% - 6rem );
}
.main_register{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.register_title {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
}
.register_text {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 16px;
}
.master_form {
    margin-top: 24px;
}
.main_form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    max-width: 586px;
    margin: 16px auto 0;
}
.main_form_input {
    position: relative;
    flex: 1 1 auto;
}
.form_title {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
}

.form_label {
    position: absolute;
    z-index: 1;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.5;
    transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
    transition-duration: 250ms;
    top: 16px;
    left: 16px;
    pointer-events: none;
}
.form_label_active {
    position: absolute;
    z-index: 1;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.5;
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    transition-duration: 250ms;
    top: 10px;
    left: 16px;
    font-family: inherit;
    pointer-events: none;
}

.form_input {
    width: 91%;
    display: flex;
    background-color: #0000009c;
    border: 1px solid #adadad;
    border-radius: 4px;
    padding: 24px 16px 8px;
    color: inherit;
    outline-color:#FFFFFF;
    line-height: 1.8;
    font: inherit;
}

.form_input:focus {
    outline: 2px solid #FFF;
    border-radius: 4px;
    outline-offset: 2px;
}

.form_input::placeholder {
    color: #adadad;
}
.main_form_button {
    margin-left: 8px;
}
.form_button_icon {
    max-height: 24px;
}
.form_button_icon path {
    fill: currentColor;
}
.form_button{
    display: flex;
    align-items: center;
    border-radius: 4px;
    background-color: rgb(229,9,20);
    color: inherit;
    font-size: 24px;
    font-weight: 500;
    min-height: 56px;
    padding: 12px 24px;
    font-family: inherit;
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
}
.form_button:hover {
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    background: rgb(193, 17, 25);
}